<div class="wrapper">
  <mat-card color="primary">
    <form [formGroup]="form" novalidate (submit)="submit()" class="form">
      <mat-form-field>
        <input 
          type="text" 
          matInput 
          formControlName="task" 
          placeholder="Название задачи">
      </mat-form-field>
      <button mat-button color="primary">Добавить</button>
    </form>
  </mat-card>

  <ng-container *ngFor="let task of tasks; let i = index">
    <mat-card class="form-item" *ngIf="activeFilter.checked === null || activeFilter.checked === task.checked">
      <mat-checkbox [(ngModel)]="task.checked"></mat-checkbox>
      <span class="form-item__text">{{ task.title }}</span>
      <button class="form-item__bel" mat-button mat-icon-button (click)="deleteTask(i)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card>
  </ng-container>
  {{changeFilter()}}
  <mat-card>
    <mat-radio-group class="radio-group" [(ngModel)]="activeFilter" (change)="changeFilter()">
      <mat-radio-button class="radio-button" *ngFor="let filter of filters" [value]="filter">
        {{filter.name}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="selected-value">Your favorite filter ({{countFilter}}) is: {{activeFilter.name}}</div>    
  </mat-card>
</div>